.jd-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5em;
  box-sizing: border-box;
  margin-top: 1em;

  @media (width<400px) {
    grid-template-columns: none;
  }

  .about {
    height: 150px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a {
    border: 1px solid;
    padding: 0.5em 1.5em;
    border-radius: 5px;
    display: block;
    margin: auto auto 10px;
  }
}

.jd-list {
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  padding: 1em 0.8em;
  min-height: 300px;

  .company {
    display: flex;
    gap: 1em;
    margin-block: 0.5em;
    img {
      object-fit: contain;
    }

    h4 {
      font-size: 13px;
      margin-block: 0.2em;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 3px;
      color: var(--color-heading);
    }
    h5 {
      font-size: 14px;
      line-height: 1.5;
      font-weight: 400;
      margin: 0;
      text-transform: uppercase;
    }
  }

  .salary {
    margin-block: 0.5em;
    font-size: 14px;
  }

  h4 {
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    color: var(--color-content);
    margin-block: 0.5em;
  }

  .experience {
    margin-block: 0.5em;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
    color: var(--color-heading);
    p {
      color: var(--color-content);
    }
  }

  .location {
    text-transform: capitalize;
  }

  .jdlink {
    text-align: center;
  }
}

#observer {
  height: 1em;
}
