.desc {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-block: 0.5em;
}

.desc[data-expand='true'] {
  overflow: visible;
  -webkit-line-clamp: unset;
}

.desc-wrapper {
  margin-block: 0.5em;

  bottom {
    font-weight: bolder;
  }
}
